
# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
.envrc
/venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_convert/
.artifacts/
artifacts/

# Data
!data/README.md

# ML
runs/
models/
checkpoints/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

#text editor
personal.txt 

#Setup files
setup_env.bat

#mlruns
mlruns/
mlartifacts/

#gui
gui/




